.couleur_rouge{
    color: red;
}

.dark-mode {
    background-color: rgb(17, 17, 17);
    color: white;
  }

h2{
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3{
    color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    padding-top: 10px;
    padding-bottom: 10px;
}

td{
    text-align: center;
}
  
header
{
position: relative;
}


h1{
    color: red;
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
}

.centre{
    text-align: center;
}

.couleur_vert{
    color: green;
    font-weight: bold;
}

.alinea{
    text-indent: 20px; 
}

.ordi{
    text-decoration: underline;
    font-weight: bold;
}

html{
    background-color: darkred;
}

body{
    border: 0.1cm solid black;
    margin: 0cm;
    padding: 1cm;
}

h4{
    color: lightseagreen;
}
